<?xml version="1.0"?>
<launch>

    <group ns="IMU1">
        <node pkg="sensors" type="MPU6050_1_node" name="IMU1"/>
    </group>

    <group ns="IMU2">
        <node pkg="sensors" type="MPU6050_2_node" name="IMU2"/>
    </group>

    <node pkg="sensors" type="Track_node" name="Track_node"/>
</launch>